footer {
  background: linear-gradient(
    45deg,
    rgb(101, 158, 49),
    rgba(101, 158, 49, 0.8)
  );
  color: white;
  width: 100%;
  min-height: 40vh;
  padding: 1rem;
  box-sizing: border-box;
  font-family: sans-serif;
  box-sizing: border-box;
}

footer h1 {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 2rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

footer .info-container {
  display: flex;
  flex-direction: column;
}

.info-container a {
  color: white;
  text-decoration: none;
}

footer .info {
  font-size: 2rem;
  font-weight: 100;
  margin: 1rem 0;
}

footer span {
  font-size: 1.5rem;
}

iframe {
  width: 30vw;
  height: 30vh;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  iframe {
    width: 90%;
  }
}
