body {
  margin: 0;
  font-family: sans-serif;
}

section {
  min-height: 60vh;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us h1 {
  color: #659e31;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 0;
}

.contact-us form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgb(101, 158, 49),
    rgba(101, 158, 49, 0.8)
  );
  padding: 3rem 4rem;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 2rem;
}

.contact-us form div {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.contact-us form input,
select {
  width: 50%;
  padding: 1rem;
  outline: none;
  border: none;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}

#title {
  width: 95%;
}

textarea {
  width: 95%;
  min-height: 20vh;
  outline: none;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contact-us form button {
  background-color: white;
  color: #659e31;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}
